<html>
    <head>
        <title>About page</title>
        <link rel="stylesheet" href="about.css">
        <script src="https://kit.fontawesome.com/c35e642231.js" crossorigin="anonymous"></script>
        <style>/* background-color: rgb(182, 242, 179);
            background-color: rgb(165, 240, 239); */
            
            
            *{
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }
            .h1{
                align-items: center;
                justify-content: center;
                display: flex;
                font-size: 60px;
                font-style: italic;
                /* background-color:rgb(182, 242, 179); */
                /* border-bottom: 5px solid rgb(215, 152, 5); */
            
            }
            .wrapper{
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
            
            }
            .background-color{
                width: 100%;
                height: 100vh;
                display: flex;
            }
            .bg1{
                width: 50%;
                background-color: rgb(182, 242, 179);
            }
            .bg2{
                width: 50%;
                background-color: rgb(165, 240, 239);
            }
            .container{
                width: 85%;
                height: 80vh;
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: white;
                box-shadow: 10px 10px 34px rgb(106, 103, 103);
            
                padding: 20px;
                border-radius: 10px;
                 
            }
            .img{
                width: 500px;
                height: 500px;
                display: flex;
                justify-content: center;
                align-items: center;
            
                
            }
            .img img{
                width: 60%;
                height: 100%;
                object-fit:cover;
                border-radius: 5px;
            
                
                
            }
            .text{
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;
                margin-left: 30px;
            }
            h1{
                font-size: 50px;
                padding: 10px 0 10px;
            }
            p{
                font-size: 25px;
                padding:10px 0;
                 
            }
            a{
                text-decoration: none;
                font-size: 20px;
                background-color:rebeccapurple;
                color: white;
                border-radius: 5px;
                margin-top: 20px;
                padding: 5px;
                
            }
            .logo a{
                text-decoration: none;
                font-size: 25px;
                background-color:rgb(246, 149, 228);
                color: white;
                border-radius: 5px;
                margin: 20px;
                /* margin-top: 60px; */
                padding: 5px;
                
            
                
            }
            .logo a i{
                margin-top: 60px;
            
            
            }
            .logo a:hover {
                margin-top: 60px;
                color: rebeccapurple;
                background-color: white;
                border: 2px solid white;
                
            }
            .logo a i:hover{
                 transition: .9s ease;
                transform: rotate(360deg); 
            }
            
            ::-webkit-scrollbar{
    display: none;
  }

            a:hover{
                color: rebeccapurple;
                background-color: white;
                border:3px solid rebeccapurple;
            
                
            }


            @media screen and (max-width:1600px) {
                .container{
                    width:90%
                }
                h1{
                    font-size: 50px;
                }
                
                .img img{
                    width: 75%;
                    height: 95%;
                }
            
            }
            @media screen and (max-width:1024px) {
                .container{
                    
                    flex-direction: column;
                    height: 90vh;
            
                }
                h1{
                    font-size: 35px;
                    padding: 10px 0 ;
                }
                p{
                    font-size: 22px;
                }
                .text{
                    align-items: center;
                }
                .img img{
                     width: 20%;
                    height: 70%; 
                    object-fit: cover;
                }
            }</style>
    </head>
    <body>
        <h1 class="h1">About us</h1>
        <div class="wrapper">
            <div class="background-color">
                <div class="bg1"></div>
                <div class="bg2"></div>
            </div>
            <div class="container">
                <div class="img">
                    <img src="Best-Cute-Cartoon-Dp-Pics-Wallpaper.jpg" alt="">
                </div>
                <div class="text">
                    <h1>Arjun Agarwal</h1>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id velit, cum officiis nemo laudantium sapiente placeat. Iusto excepturi cumque totam! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum, tempore.</p>
                    <a href="#">Read more</a>
                    <div class="logo">
                        <a href="https://www.instagram.com/agarwal02arjun/?hl=en"><i class="fa-brands fa-instagram"></i></a>
                        <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                        <a href="https://github.com/ArjunAgarwal029"><i class="fa-brands fa-github"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper">
            <div class="background-color">
                <div class="bg1"></div>
                <div class="bg2"></div>
            </div>
            <div class="container">
                <div class="img">
                    <img src="Best-Cute-Cartoon-Dp-Pics-Wallpaper.jpg" alt="">
                </div>
                <div class="text">
                    <h1>Kartik Tyagi</h1>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id velit, cum officiis nemo laudantium sapiente placeat. Iusto excepturi cumque totam! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum, tempore.</p>
                    <a href="#">Read more</a>
                    <div class="logo">
                        <a href="https://www.instagram.com/kartik_tyagi_2912/?hl=en"><i class="fa-brands fa-instagram"></i></a>
                        <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                        <a href="#"><i class="fa-brands fa-github"></i></a>
                    </div>
                </div>
            </div>
        </div><div class="wrapper">
            <div class="background-color">
                <div class="bg1"></div>
                <div class="bg2"></div>
            </div>
            <div class="container">
                <div class="img">
                    <img src="Best-Cute-Cartoon-Dp-Pics-Wallpaper.jpg" alt="">
                </div>
                <div class="text">
                    <h1>Jay Shankar</h1>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id velit, cum officiis nemo laudantium sapiente placeat. Iusto excepturi cumque totam! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum, tempore.</p>
                    <a href="#">Read more</a>
                    <div class="logo">
                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                        <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                        <a href="#"><i class="fa-brands fa-github"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>