<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        * {
      margin: 0px; 
      padding: 0px;
   }
   body {
    background-color: rgb(0, 7, 9,0.2);
   }
   .box1 {    
       
       height: fit-content;
   }

   button { 
      background-color: #4CAF50; 
       /*width: 50%;*/
       color: rgb(17, 10, 2); 
       padding: 10px; 
       margin: 10px 0px; 
       font-size: 20px;
       font-weight: bold;
       border-radius: 5px;
       border: none; 
       cursor: pointer; 
        } 
.border { 
       border: 3px solid black;
       background-color: rgba(255, 255, 255, 0.4);
   } 
input[type=text], input[type=password] { 
       /*width: 100%; */
       margin: 8px 0;
       padding: 12px 20px; 
       display: inline-block; 
       border: 2px solid rgb(0, 128, 0); 
       border-radius: 10px;
       box-sizing: border-box; 
   }

 .cancelbtn { 
       width: auto;
       padding: 10px 18px;
       margin: 10px 5px;
   } 
     
  
.container { 
       text-align: center;
       font-size: 20px;
       font-weight: bold;
       padding: 25px; 
   } 
   button:hover { 
            background-color: #fff;
        } 
.container-logo {
 text-align: center;
}
.border{
   
   height: 350px;
   width: 400px;

}
h1 {
    font-size: 30px;
}
h2 {
    font-size: 25px;
}
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  opacity: 0.8;
  z-index: -200;
}
@media (max-width: 510px) {
    .border{   
   height: 330px;
   width: 320px;
}
 
 
.container { 
       text-align: center;
       font-size: 17px;
       font-weight: bold;
       padding: 25px; 
   } 
   h1 {
    font-size: 25px;
}
h2 {
    font-size: 20px;
}
input[type=text], input[type=password] { 
       /*width: 100%; */
       margin: 6px 0;
       padding: 10px 15px; 
       display: inline-block; 
       border: 2px solid rgb(0, 128, 0); 
       border-radius: 10px;
       box-sizing: border-box; 
   }
}
@media (max-width: 420px) {
    .border{   
   height: 330px;
   width: 320px;
}
 
 
.container { 
       text-align: center;
       font-size: 17px;
       font-weight: bold;
       padding: 25px; 
   } 
   h1 {
    font-size: 25px;
}
h2 {
    font-size: 20px;
}
input[type=text], input[type=password] { 
       /*width: 100%; */
       margin: 6px 0;
       padding: 10px 15px; 
       display: inline-block; 
       border: 2px solid rgb(0, 128, 0); 
       border-radius: 10px;
       box-sizing: border-box; 
   }
   button { 
      background-color: #4CAF50; 
       /*width: 50%;*/
       color: rgb(17, 10, 2); 
       padding: 10px; 
       margin: 10px 0px; 
       font-size: 15px;
       font-weight: bold;
       border-radius: 5px;
       border: none; 
       cursor: pointer; 
        } 
}

@media (max-width: 350px) {
    .border{   
   height: 310px;
   width: 300px;
}
h1 {
    font-size: 25px;
}
h2 {
    font-size: 20px;
}
 
.container { 
       text-align: center;
       font-size: 17px;
       font-weight: bold;
       padding: 25px; 
   } 
   input[type=text], input[type=password] { 
       /*width: 100%; */
       margin: 6px 0;
       padding: 10px 15px; 
       display: inline-block; 
       border: 2px solid rgb(0, 128, 0); 
       border-radius: 10px;
       box-sizing: border-box; 
   }
   button { 
      background-color: #4CAF50; 
       /*width: 50%;*/
       color: rgb(17, 10, 2); 
       padding: 10px; 
       margin: 10px 0px; 
       font-size: 15px;
       font-weight: bold;
       border-radius: 5px;
       border: none; 
       cursor: pointer; 
        } 
}


@media (max-width: 320px) {
    .border{   
   height: 300px;
   width: 300px;
}
h1 {
    font-size: 25px;
}
h2 {
    font-size: 20px;
}
 
.container { 
       text-align: center;
       font-size: 17px;
       font-weight: bold;
       padding: 25px; 
   } 
   input[type=text], input[type=password] { 
       /*width: 100%; */
       margin: 6px 0;
       padding: 10px 15px; 
       display: inline-block; 
       border: 2px solid rgb(0, 128, 0); 
       border-radius: 10px;
       box-sizing: border-box; 
   }
   button { 
      background-color: #4CAF50; 
       /*width: 50%;*/
       color: rgb(17, 10, 2); 
       padding: 10px; 
       margin: 10px 0px; 
       font-size: 15px;
       font-weight: bold;
       border-radius: 5px;
       border: none; 
       cursor: pointer; 
        } 
}
   </style> 
</head>
<body>
    <div class="back">
        <video autoplay muted loop id="myVideo">
            <source src="videoplayback (11).mp4" type="video/mp4">
            Your browser does not support HTML5 video.
          </video>
    <center><img src="logo.png" alt="" width="80px"></center>
   <div class="box1">
       <div class="container-logo">
       </div>
       <center> <h1>Login</h1> </center> 
       <br>
       <center> <h2>Fill ur Details below</h2> </center>
       <br> 
       <center>
           <form class="border" method="post" action="/login">
               <div class="container">  
                   <label>Email : </label> 
                   <br>
                   <input type="text" placeholder="email" name="email" required>
                   <br>
                   <label>Password : </label> 
                   <br>
                   <input type="password" placeholder="Enter Password" name="password" required>
                   <br>
                   
                   <button type="submit">Login</button>
                   <br> 
                   <br>
                   <input type="checkbox" checked="checked"> Remember me 
                   <br>
                   <a href="#"> Forgot password? </a> 
                   <br>
               </div> 
           </form>   
       </center>
    </div>
</body>
</html>